<header>

	<h2>{{currentSidebar.title}}</h2>
	<span class="sidebar-option" ng-click="sidebarClose()">Sluiten</span>

</header>
<form ng-submit="updateMoney()" class="money-form">
	
	<input type="text" ng-model="editMoney.title" placeholder="Naam" class="money-title">
	<input type="text" ng-model="editMoney.amount" placeholder="Bedrag" class="money-amount">
	<input type="text" ng-model="editMoney.displayDate"  placeholder="Datum" class="money-title" disabled>
	
	<textarea rows="8" ng-model="editMoney.note"  placeholder="Notitie" class="money-note"></textarea>

	<select ng-model="editMoney.category" class="money-category">
		<option ng-repeat="category in categoryList" value="{{category._id}}">{{category.name}}</option>
	</select>

	
	<label for="once"><input type="radio" value="once" ng-model="newMoney.recursion" id="once"> Eenmalig</label>
	<label for="monthly"><input type="radio" value="monthly" ng-model="newMoney.recursion" id="monthly"> Maandelijks</label><br />

	<label><input type="radio" value="expense" ng-model="editMoney.balance" class="money-balance"> Uitgave</label>
	<label><input type="radio" value="income" ng-model="editMoney.balance"> Inkomen</label> 

	<hr>

	<button type="submit">Bewaren</button>

	<span ng-click="deleteMoney()" class="money-delete">Verwijderen</span>
</form>