<header>

	<h2>{{currentSidebar.title}}</h2>
	<span class="sidebar-option" ng-click="sidebarNew(newMoney.date)">Toevoegen</span>

</header>

<table class="balance">
	<tbody>
		<tr class="balance-money" ng-repeat="money in moneyList" id="{{money._id}}">
			<td class="balance-money-title"><span>{{money.title}}</span></td>
			<td class="balance-money-amount">
				<span ng-if="money.balance=='expense'">&minus;</span>
				<span ng-if="money.balance=='income'">&plus;</span>
				{{money.amount}}
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="99">
				<span ng-if="moneyTotal < 0">&minus;</span>
				<span ng-if="moneyTotal > 0">&plus;</span>
				{{moneyTotalDisplay}}
			</td>
		</tr>
	</tfoot>
</table>