<header>

	<h2>{{currentSidebar.title}}</h2>
	<span class="sidebar-option" ng-click="sidebarClose()">Sluiten</span>

</header>
<form ng-submit="saveMoney()" class="money-form">
	
	<input type="text" ng-model="newMoney.title" placeholder="Naam">
	<input type="text" ng-model="newMoney.amount" placeholder="Bedrag" class="money-amount">
	<input type="text" ng-model="newMoney.date"  placeholder="Datum">
	
	<textarea rows="8" ng-model="newMoney.note"  placeholder="Notitie"></textarea>

	<select ng-model="newMoney.category">
		<option value="bill">Rekening</option>
		<option value="food">Voedsel</option>
		<option value="entertainment">Vermaak</option>
		<option value="homeimprovement">Klussen</option>
		<option value="household">Huishouden</option>
	</select>

	<select ng-model="newMoney.recursion">
		<option value="once">Eenmalig</option>
		<option value="daily">Dagelijks</option>
		<option value="weekly">Wekelijks</option>
		<option value="monthly">Maandelijks</option>
		<option value="yearly">Jaarlijks</option>
	</select>

	<label><input type="radio" value="expense" ng-model="newMoney.balance"> Uitgave</label>
	<label><input type="radio" value="income" ng-model="newMoney.balance"> Inkomen</label> 

	<button type="submit">Save</button>
	<button type="reset">Clear</button>
</form>
