<header>

	<h2>{{currentSidebar.title}}</h2>
	<span class="sidebar-option" ng-click="sidebarClose()">Sluiten</span>

</header>

<form ng-submit="updateMoney()" class="money-form">
	
	<input type="text" ng-model="editMoney.title" placeholder="Naam" class="money-title">
	<input type="text" ng-model="editMoney.amount" placeholder="Bedrag" class="money-amount">
	<input type="text" ng-model="editMoney.date"  placeholder="Datum" class="money-title">
	
	<textarea rows="8" ng-model="editMoney.note"  placeholder="Notitie" class="money-note"></textarea>

	<select ng-model="editMoney.category" class="money-category">
		<option ng-repeat="category in categoryList" value="{{category._id}}">{{category.name}}</option>
	</select>

	<select ng-model="editMoney.recursion" class="money-recursion">
		<option value="once">Eenmalig</option>
		<option value="daily">Dagelijks</option>
		<option value="weekly">Wekelijks</option>
		<option value="monthly">Maandelijks</option>
		<option value="yearly">Jaarlijks</option>
	</select>

	<label><input type="radio" value="expense" ng-model="editMoney.balance" class="money-balance"> Uitgave</label>
	<label><input type="radio" value="income" ng-model="editMoney.balance"> Inkomen</label> 

	<button type="submit">Save</button>
	<button type="reset">Clear</button>
</form>