<header>

	<h2>{{currentSidebar.title}}</h2>
	<span class="sidebar-option" ng-click="sidebarNew(newMoney.date)">Toevoegen</span>

</header>

<table class="balance">
	<tbody>
		<tr class="balance-money">
			<td class="balance-money-title"><span>Balance item title</span></td>
			<td class="balance-money-amount">&minus; 88,00</td>
		</tr>
		<tr class="balance-money">
			<td class="balance-money-title"><span>Balance item title</span></td>
			<td class="balance-money-amount">&plus; 123,45</td>
		</tr>
		<tr class="balance-money">
			<td class="balance-money-title"><span>Balance item title</span></td>
			<td class="balance-money-amount">&minus; 123,45</td>
		</tr>
		<tr class="balance-money">
			<td class="balance-money-title"><span>Balance item title</span></td>
			<td class="balance-money-amount">&minus; 12,95</td>
		</tr>
		<tr class="balance-money">
			<td class="balance-money-title"><span>Balance item title</span></td>
			<td class="balance-money-amount">&plus; 45,88</td>
		</tr>
		<tr class="balance-money">
			<td class="balance-money-title"><span>Balance item title</span></td>
			<td class="balance-money-amount">&minus; 13,12</td>
		</tr>
		<tr class="balance-money">
			<td class="balance-money-title"><span>Balance item title</span></td>
			<td class="balance-money-amount">&minus; 5,00</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="99">&plus; 999,99</td>
		</tr>
	</tfoot>				
</table>
