<header>

	<h2>{{currentSidebar.title}}</h2>
	<span class="sidebar-option" ng-click="sidebarNew()">Toevoegen</span>

</header>

<table class="balance">
	<tbody>
		<tr class="balance-money" ng-repeat="money in moneyList | orderBy: 'date'" id="{{money._id}}" ng-click="sidebarEdit(money._id)">
			<td class="balance-money-category"><span class="category-icon" title="{{money.category.name}}" style="background-color: {{money.category.color}};"></span></td>
			<td class="balance-money-user"><span class="user-icon" title="{{money.user.username}}"><span>{{money.user.username.substring(0,1)}}</span></span></td>
			<td class="balance-money-title"><span>{{money.title}}</span></td>
			<td class="balance-money-amount">
				<span ng-if="money.balance=='expense'">&minus;</span>
				<span ng-if="money.balance=='income'">&plus;</span>
				{{money.displayAmount}}
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="99" ng-class="{positive: moneyTotal > 0}">
				<span ng-if="moneyTotal < 0">&minus;</span>
				<span ng-if="moneyTotal > 0">&plus;</span>
				{{moneyTotalDisplay}}
			</td>
		</tr>
	</tfoot>
</table>