<h2>Categoriën</h2>

<ul class="categories">
	<li ng-repeat="category in categoryList" class="{{category.slug}}">
		<span class="category-icon" style="background-color: {{category.color}};"></span> {{category.name}}
	</li>

	<form ng-submit="saveCategory()">
		<input type="text" ng-model="newCategory.name"><br>
		<select ng-model="newCategory.color">
			<option value="red">Rood</option> 
			<option value="maroon">Kastanje</option> 
			<option value="lime">Limoen</option> 
			<option value="green">Groen</option> 
			<option value="olive">Olijf</option> 
			<option value="teal">Groenblauw</option> 
			<option value="blue">Blauw</option> 
			<option value="navy">Marine</option> 
			<option value="fuchsia">Magenta</option> 
			<option value="purple">Paars</option>  
			<option value="lightsalmon">Zalmroze</option> 
			<option value="orange">Oranje</option> 
			<option value="darkkhaki">Khaki</option> 
			<option value="saddlebrown">Bruin</option>  
			<option value="gray">Grijs</option>  
		<button type="submit">Save</button>
	</form>
</ul>