<h2>Categoriën</h2>

<div class="categories">
	
	<ul>
		<li ng-repeat="category in categoryList" class="{{category.slug}}">
			
			<div class="color-picker">
				<ul class="color-options">
					<li class="red" ng-class="{active: category.color=='red'}" ng-click="category.color='red'; updateCategory($index)"></li> 
					<li class="maroon" ng-class="{active: category.color=='maroon'}" ng-click="category.color='maroon'; updateCategory($index)"></li> 
					<li class="lime" ng-class="{active: category.color=='lime'}" ng-click="category.color='lime'; updateCategory($index)"></li> 
					<li class="green" ng-class="{active: category.color=='green'}" ng-click="category.color='green'; updateCategory($index)"></li> 
					<li class="olive" ng-class="{active: category.color=='olive'}" ng-click="category.color='olive'; updateCategory($index)"></li> 
					<li class="teal" ng-class="{active: category.color=='teal'}" ng-click="category.color='teal'; updateCategory($index)"></li> 
					<li class="blue" ng-class="{active: category.color=='blue'}" ng-click="category.color='blue'; updateCategory($index)"></li> 
					<li class="navy" ng-class="{active: category.color=='navy'}" ng-click="category.color='navy'; updateCategory($index)"></li> 
					<li class="fuchsia" ng-class="{active: category.color=='fuchsia'}" ng-click="category.color='fuchsia'; updateCategory($index)"></li> 
					<li class="purple" ng-class="{active: category.color=='purple'}" ng-click="category.color='purple'; updateCategory($index)"></li>  
					<li class="lightsalmon" ng-class="{active: category.color=='lightsalmon'}" ng-click="category.color='lightsalmon'; updateCategory($index)"></li> 
					<li class="orange" ng-class="{active: category.color=='orange'}" ng-click="category.color=orange''; updateCategory($index)"></li> 
					<li class="darkkhaki" ng-class="{active: category.color=='darkkhaki'}" ng-click="category.color='darkkhaki'; updateCategory($index)"></li> 
					<li class="saddlebrown" ng-class="{active: category.color=='saddlebrown'}" ng-click="category.color='saddlebrown'; updateCategory($index)"></li>  
					<li class="gray" ng-class="{active: category.color=='gray'}" ng-click="category.color='gray'; updateCategory($index)"></li> 
				</ul>
			</div>
			
			<input type="text" ng-model="category.name" ng-change="updateCategory($index)">
			
			<a ng-click="deleteCategory($index)" href="">Verwijder</a>
			
			<div class="move-category">
				Verplaats naar: 
				<select ng-change="moveCategory($index)" ng-model="category.move">
					<option ng-repeat="fosterCategory in categoryList" value="{{fosterCategory._id}}">{{fosterCategory.name}}</option>
				</select>
			</div>
		</li>
		<li class="new-category">
			<form ng-submit="saveCategory()">
				<div class="color-picker">
					<ul class="color-options">
						<li class="red" ng-class="{active: category.color=='red'}" ng-click="newCategory.color='red'"></li> 
						<li class="maroon" ng-class="{active: newCategory.color=='maroon'}" ng-click="newCategory.color='maroon'"></li> 
						<li class="lime" ng-class="{active: newCategory.color=='lime'}" ng-click="newCategory.color='lime'"></li> 
						<li class="green" ng-class="{active: newCategory.color=='green'}" ng-click="newCategory.color='green'"></li> 
						<li class="olive" ng-class="{active: newCategory.color=='olive'}" ng-click="newCategory.color='olive'"></li> 
						<li class="teal" ng-class="{active: newCategory.color=='teal'}" ng-click="newCategory.color='teal'"></li> 
						<li class="blue" ng-class="{active: newCategory.color=='blue'}" ng-click="newCategory.color='blue'"></li> 
						<li class="navy" ng-class="{active: newCategory.color=='navy'}" ng-click="newCategory.color='navy'"></li> 
						<li class="fuchsia" ng-class="{active: newCategory.color=='fuchsia'}" ng-click="newCategory.color='fuchsia'"></li> 
						<li class="purple" ng-class="{active: newCategory.color=='purple'}" ng-click="newCategory.color='purple'"></li>  
						<li class="lightsalmon" ng-class="{active: newCategory.color=='lightsalmon'}" ng-click="newCategory.color='lightsalmon'"></li> 
						<li class="orange" ng-class="{active: newCategory.color=='orange'}" ng-click="newCategory.color=orange''"></li> 
						<li class="darkkhaki" ng-class="{active: newCategory.color=='darkkhaki'}" ng-click="newCategory.color='darkkhaki'"></li> 
						<li class="saddlebrown" ng-class="{active: newCategory.color=='saddlebrown'}" ng-click="newCategory.color='saddlebrown'"></li>  
						<li class="gray" ng-class="{active: newCategory.color=='gray'}" ng-click="newCategory.color='gray'"></li>
					</ul>
				</div>
				<input type="text" ng-model="newCategory.name" placeholder="Nieuw">
			</form>
		</li>
	</ul>