<!DOCTYPE html>
<html lang="en" ng-app="poenApp" ng-controller="poenGlobal">
<head>
	<meta charset="UTF-8">
	<title ng-bind-template="{{currentTitle}}">Poen - Geld moet rollen</title>

	<link rel="stylesheet" href="/styles/main.css" />
	<link rel="icon" type="image/gif" href="/images/dagobert.gif" />

</head>
<body>
	
	<header>
		<a href="/" class="brand"><img src="/images/dagobert.png" alt="{{websiteTitle}}"></a>
		
		<ul>
			<li ng-repeat="option in options">
				<a ng-class="{active: option.slug==currentSlug}" href="{{option.url}}" title="{{option.name}}">{{option.name}}</a>
			</li>
			<li><a href="/logout">Logout</a></li>
		</ul>
		
	</header>

	<div class="main" ng-view ng-class="currentSlug"></div>

</body>

<script src="/scripts/jquery-1.11.1.min.js"></script>
<script src="/scripts/jquery-ui.custom.min.js"></script>
<script src="/scripts/accounting.min.js"></script>
<script src="/scripts/moment-with-langs.min.js"></script>
<script src="/scripts/fullcalendar.min.js"></script>
<script src="/scripts/fullcalendar-nl.js"></script>
<script src="/scripts/chart.min.js"></script>

<script src="/scripts/angular.min.js"></script>
<script src="/scripts/angular-route.min.js"></script>

<script src="/scripts/poen-app.js"></script>
<script src="/scripts/poen-controllers.js"></script>

</html>