<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Poen</title>

		<link rel="stylesheet" href="/styles/style.css">
	</head>
	<body>

		<h1>Lesser of Two Evils</h1>
		<p>Why would a robot need to drink? For example, if you killed your grandfather, you'd cease to exist! Ah, computer dating. It's like pimping, but you rarely have to use the phrase "upside your head." Do a flip! Bender, quit destroying the universe!</p>

		<h2>Anthology of Interest II</h2>
		<p>Yeah. Give a little credit to our public schools. Whoa a real live robot; or is that some kind of cheesy New Year's costume? Have you ever tried just turning off the TV, sitting down with your children, and hitting them? Ok, we'll go deliver this crate like professionals, and then we'll go ride the bumper cars.</p>

		<ul>
			<li>Ok, we'll go deliver this crate like professionals, and then we'll go ride the bumper cars.</li>
			<li>And I'm his friend Jesus.</li>
			<li>Maybe I love you so much I love you no matter who you are pretending to be.</li>
			<li>Leela, are you alright? You got wanged on the head.</li>
			<li>WINDMILLS DO NOT WORK THAT WAY! GOOD NIGHT!</li>
		</ul>

		<h3>Lethal Inspection</h3>
		<p>Anyhoo, your net-suits will allow you to experience Fry's worm infested bowels as if you were actually wriggling through them. You know, I was God once. Ok, we'll go deliver this crate like professionals, and then we'll go ride the bumper cars. Bender, quit destroying the universe! A sexy mistake. Would you censor the Venus de Venus just because you can see her spewers?</p>

		<h4>Attack of the Killer App</h4>
		<p>It's a T. It goes "tuh". Leela, Bender, we're going grave robbing. I don't know what you did, Fry, but once again, you screwed up! Now all the planets are gonna start cracking wise about our mamas. Goodbye, friends. I never thought I'd die like this. But I always really hoped.</p>

		<ol>
			<li>Kids don't turn rotten just from watching TV.</li>
			<li>Leela, are you alright? You got wanged on the head.</li>
		</ol>

		<h5>Raging Bender</h5>
		<p>WINDMILLS DO NOT WORK THAT WAY! GOOD NIGHT! And I'm his friend Jesus. I'm sure those windmills will keep them cool. WINDMILLS DO NOT WORK THAT WAY! GOOD NIGHT!</p> 
	</body>
</html>