<input type="color" ng-model="category.color">
<input type="text" ng-model="category.name">
<button class="save" ng-click="updateCategory($index)">Bewaar</button>

<a href="" class="close" ng-click="cancelEditCategory($index)">Annuleer</a><br>
<a href="" class="delete" ng-click="deleteCategory($index)">Verwijder</a>

<div class="move">
	<select ng-model="category.move">
		<option ng-repeat="movecat in categoryList" value="{{movecat._id}}" ng-hide="category._id == movecat._id">{{movecat.name}}</option>
	</select>
	<button ng-click="moveCategory($index)">Verplaats</button>
</div>