<header>

	<h2>{{sidebar.title}}</h2>
	<span class="sidebar-option" ng-click="sidebarClose()">Sluiten</span>

</header>
<form ng-submit="saveMoney()" class="money-form">
	
	<input type="text" ng-model="newMoney.title" placeholder="Naam" class="money-title">
	<input type="text" ng-model="newMoney.amount" placeholder="Bedrag" class="money-amount">
	<input type="text" ng-model="newMoney.displayDate" disabled placeholder="Datum" class="money-date">
	
	<textarea rows="8" ng-model="newMoney.note"  placeholder="Notitie" class="money-note"></textarea>

	<select ng-model="newMoney.category" class="money-category">
		<option ng-repeat="category in categoryList" value="{{category._id}}">{{category.name}}</option>
	</select>

	<label for="expense"><input type="radio" value="expense" ng-model="newMoney.balance" id="expense"> Uitgave</label>
	<label for="income"><input type="radio" value="income" ng-model="newMoney.balance" id="income"> Inkomen</label> <br />

	<hr>

	<button type="submit">Bewaren</button>
</form>
