// VARIABLES

@back: white;
@text: #111;
@link: blue;
@line: #ddd;
@today: yellow;
@hover: lightcyan;
@active: cyan;
@negative: red;
@positive: limegreen;

.clearfix() {
	&:before, &:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

body {
	background-color: @back;
	color: @text;
	font-family: sans-serif;

	a {
		color: @link;
		text-decoration: none;

		&:hover { 
			text-decoration: underline;
		}
	}

	h2 { margin: 4px 0 10px; }

	h3 {
		margin: 4px 0;
		font-style: italic;
		font-weight: normal;
		font-size: 1.1em;
		text-align: center;
	}

	input[type="text"], input[type="password"], input[type="number"], input[type="date"], textarea, select {
		border: 1px solid @line;
		padding: .5em .8em;
		margin: 0 0 .4em;
		box-sizing: border-box;
		font-family: sans-serif;
		font-size: 1em;

		&:focus {
			border-color: @text;
		}
	}

	button {
		padding: .3em .5em;
	}

	hr {
		border-width: 1px 0 0;
		border-style: solid;
		border-color: @line;
	}

	.alert {
		color: #fff;
		background-color: #f00;
		position: absolute;
		top: 10px;
		width: 50%;
		margin: 0 25%;
		text-align: center;
		padding: .5em 1em;
		box-sizing: border-box;
	}

	.fc {

		.fc-header { display: none }

		table {
			border-collapse: collapse;
			border-spacing: 0;

			&.fc-border-separate {
				
				th, td {
					border: 1px solid @line;
					vertical-align: top;

					&.fc-day {

						.fc-day-number {
							float: right; 
							font-size: .7em;
							font-style: italic;
							margin: 0 .3em;
						}

						.fc-day-content { clear: both; }

						&.fc-other-month .fc-day-number { color: lighten(@text, 75%); }
						&.fc-state-highlight { 
							background-color: @today;

							&:hover { background-color: @today; }
						}
						
						&.active { 
							background-color: @active;

							&:hover { background-color: @active; } 
						}

						&:hover { 
							background-color: @hover;
							cursor: pointer; 
						}
					}
				}
			}
		}

		.fc-content {

			.fc-event {
				font-size: .8em;
				color: @back;
				cursor: pointer;
				padding: .1em .2em .1em .2em;
				margin-bottom: 1px;
				position: relative;

				.fc-event-inner {
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					padding-right: 1.2em;

					.fc-event-time { display: none }
				}

				&.active { text-decoration: underline }
				&.hover {
					color: @link;
					text-decoration: underline;					
				}

				.user {
					position: absolute;
					top: .3em;
					right: .3em;
					background-color: @back;
					color: lighten(@text, 50%);
					width: 1.3em;
					height: 1.3em;
					border-radius: .6em;
					font-size: .8em;
					line-height: 1.3em;
					text-align: center;
					text-transform: uppercase;
				}
			}
		}			
	}

	header {
		.clearfix;
		padding: .3em 0 .7em;

		.brand {
			float: left;
			margin-right: 1.5em;
		}

		h1 {
			margin: 0;
			float: left;
		}

		ul {
			float: right;
			list-style-type: none;
			margin: 12px 0 0;


			li {
				display: inline-block;
				margin-left: .2em;

				&.today, &.next, &.add { margin-right: 1em }

				&.active a { color: @text; text-decoration: underline; }

				&.mobile-view {
					display: none;
					margin-right: 1em;
				}
			}
		}
	}

	.main {
		.clearfix;
		margin-bottom: 100px;

		.calendar-view {
			float: left;
			width: 70%;		
		}

		.sidebar {
			float: right;
			width: 30%;
			box-sizing: border-box;
			padding: 0 0 0 1em;

			header {
				border: 0;
				border-top: 1px solid @line;
				padding: 0;
				margin: 2px 0 0;
				.clearfix;

				h2 {
					float: left;
				}

				.sidebar-option {
					float: right;
					color: @link;
					cursor: pointer;
					line-height: 32px;
					margin-top: 4px;

					&:hover { text-decoration: underline; }
				}

				.calc-date {
					float: right;
					line-height: 32px;
					margin-top: 4px;
					font-weight: bold;
					color: lighten(@text, 70%)
				}
			}

			.money-form {

				label { 
					display: inline-block;
					line-height: 1.6em;

					&:hover, &:focus, &:active {
						color: @link;
						text-decoration: underline;
					} 
				}

				input[type="text"], input[type="number"], textarea, select {
					width: 100%;
				}

				button {
					float: right;
					margin-left: .3em;
				}

				.money-delete {
					display: inline-block;
					color: @link;
					cursor: pointer;
					margin-top: .3em;

					&:hover { text-decoration: underline }
				}	

				.money-source {
					line-height: 1.6em;

					span {
						color: @link;
						cursor: pointer;

						&:hover { text-decoration: underline; }
					}
				}		
			}

			table {
				margin-bottom: .6em;
				width: 100%;
				border-collapse: collapse;

				td {
					padding: .2em .1em;
					border-bottom: 1px solid @line;
					cursor: pointer;

					&.icon, &.check { width: 1% }
					&.name { 
						padding-left: .2em;

						.edit {
							display: none;
							color: lighten(@text, 60%);
							margin-left: .2em;
						}
					}

					&.amount {
						text-align: right;
						width: 1%;
						font-weight: bold;
						color: @line;
						white-space: nowrap;

						&.positive { color: @positive; }
						&.negative { color: @negative; }
					}

					&.update, &.create { 
						display: none;
						padding: .5em;

						.close, .delete { 
							float: right;
							font-size: .8em;
							color: lighten(@text, 60%);

							&:hover {
								text-decoration: none;
								color: @text;
							}
						}

						input[type='color'] {
							margin: 0;
							padding: 0;
							height: 39px;
							width: 39px;
							margin-right: 2px;
							float: left;
						} 

						input[type='text'] {
							float: left;
							margin: 0 2px 0 0;
							width: 50%;
						}

						button { 
							float: left; 
							margin-top: 3px;
						}

						.move {
							display: none;
							float: left;
							width: 100%;

							select {								width: 50%;
								margin: 0 2px 0 42px;
								padding: .4em .2em;	
								float: left;
							}
						}
					}

					&.create { display: table-cell; }
				}

				tr:hover td {
					background-color: @hover;
					
					&.user, &.name {
						color: @link;
						text-decoration: underline;

						.edit { 
							display: inline-block;
							text-decoration: none;

							&:hover { color: @text; } 
						}
					}						
				}

				tr:last-child td { border-bottom-width: 0 }

				&.users {
					td {
						text-transform: capitalize;
					}
				}

				&.categories {
					.color {
						display: inline-block;
						width: 1em;
						height: 1em;
						position: relative;
						bottom: -2px;
					}
				}
			}
		}
	}
}

// LOGIN

.login {

	form {
		width: 200px;
		height: 200px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -100px 0 0 -100px;
		text-align: center;

		.brand {
			margin: 0 0 3px;
		}

		input {
			width: 100%;
		}

		button {
			float: right;
		}
	}
}

@media (max-width: 980px) {

	body {
		font-size: 14px;

		header {

			.brand {
				margin-right: .2em;
				margin-top: .2em;

				img {
					width: 16px;
					height: 16px;
				}
			}

			h1 {
				font-size: 18px;
				margin: 0;
				padding: 0;
				display: inline;
			}
			
			ul {
				margin: .2em 0 0;
				padding: 0;

				li {
					margin-right: 0.3em !important;

					&.mobile-view { display: inline-block; }
				}
			}
		}

		.main {

			.calendar-view {
				display: none;
				width: 100%;

				&.active { display: block; }

				.fc-event {
					margin-bottom: 1px !important;
				}
			}

			.sidebar {
				display: none;
				width: 100%;
				padding: 0;

				&.active { display: block; }
			}
		}

		&.login {
			font-size: 16px;

			form {
				width: 300px;
				height: auto;
				position: static;
				top: auto;
				left: auto;
				margin: auto;
				text-align: center;
				padding: 1em;
			}
		}
	}
}

@media (max-width: 480px) {

	body {

		header {
			font-size: 10px;
			text-align: center;

			.brand {
				margin-right: .2em;
				float: none;
				
				img {
					width: 16px;
					height: 16px;
				}
			}

			h1 {
				font-size: 16px;
				display: inline;
				text-align: center;
				float: none;
			}

			ul {
				width: 100%;
				margin: 0;
				padding: 0;
				text-align: center;

				li {
					margin: 0 .25em !important;
					padding: 0;
					
					&.next { margin-left: .1em !important; }	
					&.prev { margin-right: 0 !important; }	
				}

			}
		}
		
		.calendar-view {
			font-size: 9px;
		}

		.sidebar {
			h2 {
				margin: .6em 0 0
			}
		}

		&.login {
			font-size: 16px;

			form {
				width: auto;
				height: auto;
				position: static;
				top: auto;
				left: auto;
				margin: auto;
				text-align: center;
				padding: 1em;
			}
		}
	}
}