// VARIABLES

@back: #fff;
@text: #111;
@link: #00f;
@line: #ddd;
@mark: #ffffe0;

// MIXINS

.clearfix() {
	&:before, &:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

// TYPOGRAPHY

body {
	background-color: @back;
	color: @text;
	font-family: sans-serif;

	a {
		color: @link;
		text-decoration: none;

		&:hover { 
			text-decoration: underline;
		}
	}

	h2 {
		margin: 4px 0 10px;
	}

	input[type="text"], input[type="password"] {
		border: 1px solid darken(@line, 20%);
		padding: .5em .8em;
		margin: 0 0 .2em;
		box-sizing: border-box;
		font-family: sans-serif;

		&:focus {
			border-color: @text;
		}
	}

	button {
		padding: .3em .5em;
	}

	.alert {
		color: #fff;
		background-color: #f00;
		text-align: center;
		padding: .5em .8em;
	}

// CALENDAR

	.calendar {

		table {
			border-collapse: collapse;
			border-spacing: 0;

			&.fc-header {

				.fc-header-left {

					h2 {
						text-transform: Capitalize;
					}					
				}

				.fc-header-right {
					text-align: right;

					.fc-button {
						color: @link;
						cursor: pointer;
						margin-left: .8em;

						&:hover { text-decoration: underline; }
						&.fc-button-today { margin-right: 2em; }
						&.fc-button-prev:after { content: "\00AB  Vorige"; }
						&.fc-button-next:after { content: "Volgende \00BB"; }

					}
				}
			}

			&.fc-border-separate {
				
				th, td {
					border: 1px solid @line;
					vertical-align: top;

					&.fc-day {

						.fc-day-number {
							float: right; 
							font-size: .7em;
							font-style: italic;
							color: lighten(@text, 60%);
							margin: 0 .3em;
						}

						.fc-day-content { clear: both; }

						&.fc-other-month .fc-day-number { color: lighten(@text, 80%); }
						&.fc-state-highlight { background-color: @mark; }
					}
				}
			}
		}

		.fc-content {

			.fc-event {
				font-size: .8em;

				.fc-event-inner {
					margin: 0 .3em;

					.fc-event-title {
						display: block;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						cursor: pointer;

						&:hover {
							color: @link;
							text-decoration: underline;
						}
					}
				}
			}
		}			
	}

// HEADER

	header {
		.clearfix;
		padding-bottom: 7px;
		margin-bottom: 15px;
		border-bottom: 1px solid @line;

		h1 {
			margin: 0;
			float: left;
			line-height: 0;

			img {
				display: inline;
			}
		}

		ul {
			float: right;
			list-style-type: none;
			margin: 12px 0 0;


			li {
				display: inline-block;
				margin-left: 1em;

				.active {
					color: @text;
					text-decoration: underline;
				}
			}
		}
	}

// MAIN

	.main {

// MONTH

		.calendar {
			float: left;
			width: 70%;
		}
		
		.sidebar {
			float: left;
			width: 30%;
			box-sizing: border-box;
			padding: 0 0 0 35px;

			header {
				border: 0;
				padding: 0;
				margin: 2px 0 0;
				.clearfix;

				h2 {
					float: left;
				}

				.new-item {
					float: right;
					color: @link;
					cursor: pointer;
					line-height: 32px;
					margin-top: 4px;

					&:hover { text-decoration: underline; }
				}
			}

			.balance {
				width: 100%;

				tbody {

					.balance-item-title {
						
						span {
							display: block;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}

					}

					.balance-item-amount {
						text-align: right;
					}

					tr:first-child td { padding-top: .3em; }
					tr:last-child td { padding-bottom: .5em; }
				}

				tfoot {

					tr {

						td {
							text-align: right;
							font-weight: bold;
							border-top: 1px solid @line;
							font-size: 1.3em;
							padding-top: .5em;
						}
					}
				}
			}
		}
	}
}

// LOGIN

.login {

	form {
		width: 200px;
		height: 200px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -100px 0 0 -100px;

		input {
			width: 100%;
		}

		button {
			float: right;
		}
	}
}