// VARIABLES

@back: white;
@text: #111;
@link: blue;
@line: #ddd;
@today: yellow;
@hover: lightcyan;
@active: cyan;

// MIXINS

.clearfix() {
	&:before, &:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

// CATEGORIES

.category-icon {
	display: inline-block;
	width: .9em;
	height: .9em;
	border-radius: .45em;
	position: relative;
	top: .1em;
}

.user-icon {
	display: inline-block;
	width: .9em;
	height: .9em;
	border-radius: .45em;
	background-color: darkgray;
	color: @back;
	text-align: center;
	position: relative;
	top: .15em;
	text-transform: uppercase;

	span {
		font-size: .6em;
		position: relative;
		top: -.5em;
		font-weight: bold;
	}
}

// TYPOGRAPHY

body {
	background-color: @back;
	color: @text;
	font-family: sans-serif;

	a {
		color: @link;
		text-decoration: none;

		&:hover { 
			text-decoration: underline;
		}
	}

	h2 { margin: 4px 0 10px; }

	h3 {
		margin: 4px 0;
		font-style: italic;
		font-weight: normal;
		font-size: 1.1em;
		text-align: center;
	}

	input[type="text"], input[type="password"], input[type="number"], input[type="date"], textarea, select {
		border: 1px solid @line;
		padding: .5em .8em;
		margin: 0 0 .4em;
		box-sizing: border-box;
		font-family: sans-serif;
		font-size: 1em;

		&:focus {
			border-color: @text;
		}
	}

	button {
		padding: .3em .5em;
	}

	hr {
		border-width: 1px 0 0;
		border-style: solid;
		border-color: @line;
	}

	.alert {
		color: #fff;
		background-color: #f00;
		position: absolute;
		top: 10px;
		width: 50%;
		margin: 0 25%;
		text-align: center;
		padding: .5em 1em;
		box-sizing: border-box;
	}

// CALENDAR

	.calendar {

		table {
			border-collapse: collapse;
			border-spacing: 0;

			&.fc-border-separate {
				
				th, td {
					border: 1px solid @line;
					vertical-align: top;

					&.fc-day {

						.fc-day-number {
							float: right; 
							font-size: .7em;
							font-style: italic;
							margin: 0 .3em;
						}

						.fc-day-content { clear: both; }

						&.fc-other-month .fc-day-number { color: lighten(@text, 75%); }
						&.fc-state-highlight { 
							background-color: @today;

							&:hover { background-color: @today; }
						}
						
						&.active { 
							background-color: @active;

							&:hover { background-color: @active; } 
						}

						&:hover { 
							background-color: @hover;
							cursor: pointer; 
						}
					}
				}
			}
		}

		.fc-content {

			.fc-event {
				font-size: .8em;

				.fc-event-inner {
					margin: 0 .3em;

					.fc-event-title {
						display: block;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						cursor: pointer;

						&:hover {
							color: @link;
							text-decoration: underline;
						}

						.category-icon, .user-icon { margin-right: 3px;	}
					}

					.fc-event-time { display: none; }
				}

				&.active {
					text-decoration: underline;
				}

				&.hover {
					color: @link;
					text-decoration: underline;					
				}
			}
		}			
	}

// DATEPICKER

	.ui-datepicker {
		background-color: @back;
		border: 1px solid @text;
		box-sizing: border-box;
		margin: 5px 0 0 -15px;

		&:empty { border-width: 0; }

		.ui-datepicker-group {
			float: left;
			width: 50%;

			.ui-datepicker-header {
				padding: .5em;
				line-height: 27px;
				border-bottom: 1px solid @line;

				&.ui-corner-right { border-left: 1px solid @text}

				.ui-corner-all {
					float: left;
					padding: 0;
					margin-right: 8px;
				}

				.ui-datepicker-title {

					select {
						padding: .1em;
						margin: 0 .3em;
					}
				}
			}

			.ui-datepicker-calendar {
				width: 100%;
				border-collapse: collapse;

				th {
					border-right: 1px solid @line;
					&:last-child { border-right-width: 0; }
				}

				td {
					height: 2em;
					border: 1px solid @line;
					text-align: center;
					line-height: 2em;
					padding: 0;

					&:last-child { border-right-width: 0; }
					&:first-child { border-left-color: @text; }

					a {
						display: block;
						height: 100%;

						&:hover {
							background-color: @hover;
						}
					} 

					&.ui-state-disabled {
						color: lighten(@text, 60%);
					}
				}

				tr:last-child td { border-bottom-width: 0; }
			}
		}
	}

// COLOR PICKER 

	.color-picker {
		position: relative;
		margin-right: 40px;
		width: 50px;
		height: 32px;

		.color-options {	
			margin: 0;
			list-style-type: none;
			position: absolute;
			top: 0;
			left: 0;
			padding: 2px 30px 2px 2px !important;
			border: 1px solid @line;
			width: 100%;
			cursor: pointer;
			background-color: @back;
			min-height: 32px;

			li {
				margin: 0;
				padding: 0;
				height: 32px;
				display: none;
				border: 1px solid @back;

				&.red { background-color: red; }
				&.maroon { background-color: maroon; }
				&.lime { background-color: lime; }
				&.green { background-color: green; }
				&.olive { background-color: olive; }
				&.teal { background-color: teal; }
				&.blue { background-color: blue; }
				&.navy { background-color: navy; }
				&.fuchsia { background-color: fuchsia; }
				&.purple { background-color: purple; }
				&.lightsalmon { background-color: lightsalmon; }
				&.orange { background-color: orange; }
				&.darkkhaki { background-color: darkkhaki; }
				&.saddlebrown { background-color: saddlebrown; }
				&.gray { background-color: gray; }

				&.active { display: block; }
			}

			&:after {
				content: "\25BC";
				position: absolute;
				top: 0;
				right: 6px;
				line-height: 2.4em;
				color: @line;
			}

			&:hover {
				border-color: @text;
				z-index: 999;

				li { 
					display: block; 
					&:hover { border-color: @text; }
				}
				&:after { color: @text; }
			} 
		}
	}


// HEADER

	header {
		.clearfix;
		padding-bottom: 7px;
		margin-bottom: 15px;
		border-bottom: 1px solid @line;

		h1 {
			margin: 0;
			float: left;
			line-height: 0;

			img {
				display: inline;
			}
		}

		ul {
			float: right;
			list-style-type: none;
			margin: 12px 0 0;


			li {
				display: inline-block;
				margin-left: 1em;

				.active {
					color: @text;
					text-decoration: underline;
				}
			}
		}
	}

// MAIN

	.main {
		.clearfix;
		margin-bottom: 100px;

// CALENDAR

		&.calendar {

			.calendar-view {
				float: left;
				width: 70%;
			}

			.calendar-controls {
				position: absolute;
				top: 0;
				right: 0;
				margin: 72px 30% 0;
				padding: 0;
				list-style-type: none;
				line-height: 32px;

				li {
					display: inline;
					margin-left: .2em;
					cursor: pointer;

					&:first-child {	margin-right: 1em; }
					&:last-child {	margin-left: 1em; }

					.active {
						font-weight: bold;
						text-decoration: underline;
					}
				}
			}
			
			.sidebar {
				float: right;
				width: 30%;
				box-sizing: border-box;
				padding: 0 0 0 35px;

				header {
					border: 0;
					padding: 0;
					margin: 2px 0 0;
					.clearfix;

					h2 {
						float: left;
					}

					.sidebar-option {
						float: right;
						color: @link;
						cursor: pointer;
						line-height: 32px;
						margin-top: 4px;

						&:hover { text-decoration: underline; }
					}
				}

				.balance {
					width: 100%;
					border-collapse: collapse;

					tbody {

						.balance-money {

							td {
								padding: .2em .1em;
								vertical-align: top;

								&.balance-money-category, &.balance-money-user {
									width: 1%;
								}
							}

							&:hover td, &.active td {
								background-color: @today;
								cursor: pointer;
							}
						}

						.balance-money-title {
							
							span {
							}

						}

						.balance-money-amount {
							text-align: right;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}

						tr:first-child td { padding-top: .3em; }
						tr:last-child td { padding-bottom: .5em; }
					}

					tfoot {

						tr {

							td {
								text-align: right;
								font-weight: bold;
								border-top: 1px solid @line;
								font-size: 1.3em;
								padding-top: .5em;

								color: red;

								&.positive { color: limegreen; }
							}
						}
					}
				}

				.money-form {

					label { 
						display: inline-block;
						line-height: 1.6em;

						&:hover, &:focus, &:active {
							color: @link;
							text-decoration: underline;
						} 
					}

					input[type="text"], input[type="number"], textarea, select {
						width: 100%;
					}

					button {
						float: right;
						margin-left: .3em;
					}

					.money-delete {
						display: inline-block;
						color: @link;
						cursor: pointer;
						margin-top: .3em;

						&:hover { text-decoration: underline }
					}	

					.money-source {
						line-height: 1.6em;

						span {
							color: @link;
							cursor: pointer;

							&:hover { text-decoration: underline; }
						}
					}		
				}

				.filters {
					margin: 0;
					padding: 0;
					list-style-type: none;
					line-height: 1.4em;	
					margin-bottom: 1em;
					padding-bottom: .5em;
					border-bottom: 1px solid @line;

					label { 
						display: block;
						cursor: pointer; 
						padding: .1em 0;

						&:hover { background-color: @today }

						.user-icon {
							position: relative;
							top: 3px;
						}
					}

					a { cursor: pointer; }
				}
			}	
		}

// STATISTICS

		&.stats {

			.options {
				float: left;
				width: 18%;
				box-sizing: border-box;
				padding-left: 30px;

				.filters {
					margin: 0 0 1em;
					padding: 0 0 .6em;
					list-style-type: none;
					border-bottom: 1px solid @line;

					label {
						display: block;
						cursor: pointer;
						padding: .1em 0;

						&:hover {
							background-color: @today;
						}
					}

					a { 
						cursor: pointer; 
						display: inline-block;
						padding: .1em 0;
					}

					.daterange {
						margin: 1em 0 0;
						padding: .6em 0 0;
						border-top: 1px solid @line;

						input {
							width: 100%;
						}
					}
				}

				select {
					width: 100%;
				}					
			}

			.statistics {
				width: 82%;
				float: left;

				h2 {
					float: left;
					width: 50%;
					border-bottom: 1px solid @line;
					padding: 1px 0 10px;
				}

				h3 {
					padding: 15px 0;
				}

				.navigation {
					float: right;
					list-style-type: none;
					margin: 0;
					padding: 1px 0 9px;
					width: 50%;
					text-align: right;
					line-height: 32px;
					border-bottom: 1px solid @line;
					box-sizing: border-box;

					li {
						display: inline-block;
						margin: 0 0 0 .2em;

						&:first-child {
							margin-right: 1em;
						}
					}
				}
				
				.statistic {
					float: left;
					margin-bottom: 2em;
				}

			}

		}

// SETTINGS
	
		&.settings {

			.categories {
				float: left;
				
				ul {
					margin: 0 0 1em;
					padding: 0;
					list-style-type: none;

					li {
						margin: 0;
						padding: 0;
						.clearfix;						

						.color-picker {
							float: left;

							ul { margin: 0; }	
						}

						input {
							float: left;
						}
						
						a {
							float: left;
							line-height: 38px;
							margin-left: 5px;
							visibility: hidden;
						}

						&:hover a { visibility: visible; }

						.move-category {
							float: left;
							clear: left;
							display: none;

							&.active { display: block; }
						}
					}
				}	
			}
		}
	}
}

// LOGIN

.login {

	form {
		width: 200px;
		height: 200px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -100px 0 0 -100px;
		text-align: center;

		.brand {
			margin: 0 0 3px;
		}

		input {
			width: 100%;
		}

		button {
			float: right;
		}
	}
}